body {
    background-color: #f6f6f6;
}

.tools {
    margin: 10px;
    padding: 10px;
}

.pin {
    display: inline-block;
    background-color: lightslategrey;
    border: 2px solid darkslategray;
    margin: 0 2px 15px;
    padding: 15px 15px 15px;
    min-width: 200px;
    border-radius: 9px;
}

.pin img {
    width: 100%;
    border-bottom: 5px solid slategray;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
